target/
*.settings
*.project
*.classpath
log/
test-output/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse
.checkstyle
.springBeans
